# Server
PORT=3000
NODE_ENV=development

# Frontend
FRONTEND_URL=http://localhost:3000

# PostgreSQL
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME

# Admin
ADMIN_USERNAME=change_this_username
ADMIN_PASSWORD=change_this_password

# Telegram
TELEGRAM_BOT_TOKEN=replace_with_bot_token
TELEGRAM_ADMIN_CHAT_ID=replace_with_admin_chat_id
